.taskbar-side {
	position: absolute;
	display: flex;
	flex-basis: auto;
	gap: 10px;
	z-index: 20;
	bottom: 0px;
	left: 120px;
	width: 555px;
	height: 35px;
	/* background-color:#2680036e; */
}

.taskbar-icons {
	position: relative;
	z-index: 21;
	top: 0px;
	left: 0px;
	/* right: 10px; */
	width: 45px;
	height: auto;
	/* background: #2680036e; */
	/* border-radius: 1px; */
	z-index: 21;
}

.taskbar-icons img {
	position: absolute;
	z-index: 21;
	top: 2px;
	left: 15%;
	/* right: 10px; */
	width: 32px;
	height: auto;
	z-index: 21;
}