{{ define "our.discord.title" }}
    🚨 Alert! 🚨 {{ .GroupLabels.Values | join " " }}
{{ end }}

{{ define "our.discord.message" }}
    {{ range .Alerts.Firing }}
      Alert: **{{ printf "%.150s" .Annotations.summary }}** ({{ .Labels.severity }})
      Description: {{ printf "%.150s" .Annotations.description }}
      Alertname: {{ .Labels.alertname }}
      Name: {{ .Labels.name }}
    {{ end }}

    {{ if .Alerts.Resolved }}
        **RESOLVED ALERTS! 🚀**
        {{ range .Alerts.Resolved }}
            Alert: **{{ .Labels.alertname }}**
            Instance: {{ .Labels.instance }}
            Description: {{ .Annotations.description }}
        {{ end }}
    {{ end }}
{{ end }}
